%- include('../partials/header'); %>

<main class="main" id="labelMain">
    <div class="container">
        <div class="row">

            </div>
            <% data.forEach(item => { %>
                <div class="col-md-3">
                    <figure class="figure label-figure" id="labelFigure<%= item.label_id %>">
                        <img src="/images/<%= item.imgUrl %>" alt="image of <%= item.label %>" class="img-fluid figure-image rounded" />  
                        <figcaption class="figure-caption">
                            <a href="/label/<%= item.label_id %>">
                                    <%= item.label %>
                            </a>
                        </figcaption>                  
                    </figure>
                </div> 
            <% }) %>
        </div>   
    </div>
</main> 

<%- include('../partials/footer'); %> 